  /* Destacando o icone atvo na pagina inicial */
    nav a.active {
      color: #fafafa;             /* cor do texto ativo */
      background-color: #a10000;  /* fundo destacado */
      border-radius: 4px;
      padding: 5px 10px;
    }
 /* Destacando o icone atvo na pagina inicial */
    nav a.active {
      color: #fafafa;             /* cor do texto ativo */
      background-color: #a10000;  /* fundo destacado */
      border-radius: 4px;
      padding: 5px 10px;
    }
    .galeria {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 30px;
    }
    .galeria img {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
 /* Destacando o icone atvo na pagina inicial */
    nav a.active {
      color: #fafafa;             /* cor do texto ativo */
      background-color: #a10000;  /* fundo destacado */
      border-radius: 4px;
      padding: 5px 10px;
    }
 /* Destacando o icone atvo na pagina inicial */
    nav a.active {
      color: #fafafa;             /* cor do texto ativo */
      background-color: #a10000;  /* fundo destacado */
      border-radius: 4px;
      padding: 5px 10px;
    }
/* Destacando o icone atvo na pagina inicial */
    nav a.active {
      color: #fafafa;             /* cor do texto ativo */
      background-color: #a10000;  /* fundo destacado */
      border-radius: 4px;
      padding: 5px 10px;
    }
